@charset "UTF-8";

@import url("font.css");
@import url("layout.css");
$maincolor:#00309a;
$subcolor: #ffcd00;

// base
*{ padding: 0; margin: 0; font-family: Montserrat, S-CoreDream-3Light, "맑은 고딕", sans-serif; color: #333;}
.black{ color: #000; }
.white{color: #fff;}
.bold{ font-weight: 600; }
.away{position: absolute; left: -999em;}
a{text-decoration: none;}
li{list-style: none;}

/* ===================================all divice===================================== */

footer{
    width: 100%; 
    background-color: #222; overflow: hidden; padding: 3rem; box-sizing: border-box;
}


/* ===================================all divice===================================== */

/* ===================================desktop===================================== */


@media screen and (min-width: 1025px){
    *{
        font-size: 16px;
    }
    .wrap{
        width: 1400px; max-width: 96%; margin: 0 auto;
    }

    header{
        overflow: hidden;
        .walking_img{
            position: absolute;
            left: -70px;
            bottom: 0;
            width: 60px;
            height: 40px;
            background: url(../images/pc/common/common_header_walking_girl.gif) no-repeat center 5px / contain;
        }
        .walking_img.flip{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 60px;
            height: 40px;
            background: url(../images/pc/common/common_header_walking_girl02.gif) no-repeat center 5px / contain;
        }
        .scroll{
            position: fixed; top: 0;
            width: 100%; height: 70px; background-color: #fff; z-index: 10010;
            img{
                float: right;  margin-right: 5px; margin-top: 5px; height: 75px;
            }
        }
        .tnav{
            position: fixed; top:70px; z-index: 10010;
            width: 100%; height: 30px; 
            background-color: $maincolor; 
            ul{
                float: right;
                li{
                    float: left;
                    a{
                        line-height: 30px; margin-left: 3rem; color: #fff;
                    }
                }
            }
            &.active{
                top:57px; z-index: 1; transition-delay: 1s;
            }
        }

        .main_nav{
            position: fixed; top: 100px; z-index: 10100;
            width: 100%; height: 77px; background-color: #fff;
            .pannel{
                display: none;
            }
            .guest{
                display: none;
            }
            h1{
                float: left;
                img{
                    width: 136px; height: 75px;
                }
            }
            ul{
                float: right; margin-right: 1rem;
                li{
                    float: left; text-align: center;
                    a{
                        display: block; width: 9rem; height: 35px; border: 1px solid $maincolor; margin-left: 3rem; margin-top: 20px; font-size: 1.2rem; line-height: 35px;
                    }
                }
                .tour{
                    a{
                        background-color: $maincolor; color: #fff;
                        &:hover{
                            font-weight: 800;
                            background-color: rgb(0, 0, 88);
                        }
                    }
                }
            }
            
            .tour_theme{

                opacity: 0;
                position: relative; top: -10px; z-index: 0;
                overflow: hidden; transition: 0.3s; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.342);
                .closeBtn {
                    position: absolute;
                    top: 30px; right: 20px;
                    width: 35px; z-index: 100;
                    img{
                        width: 100%;
                    }
                }
                ul{
                    position: absolute; top: 30px; left: 50%; transform: translateX(-50%);
                    float: left;
                    width: 100%; max-width: 1200px; box-sizing: border-box; 
                    li{
                        width:20%; font-size: 1.2rem;
                        a{  
                            display: block;
                            border: none; 
                            width: 100%; height: 200px; overflow: hidden;
                            overflow: hidden;
                            margin: 0; padding: 1rem; box-sizing: border-box;
                            img{
                                width: 100%; top: 0;
                            }
                            &:hover{
                                img{
                                    position: relative; top: -10px; transition: 0.3s;
                                }
                            }
                        }
                    }
                }
                
            }
            .tour_theme.active{
                opacity: 1;
                display: block; 
                position: relative; top: -2px;
                width: 100%; height: 230px; background-color: #fff; 
                .closeBtn {
                    position: absolute;
                    top: 30px; right: 20px;
                    width: 35px; z-index: 100;
                    img{
                        width: 100%;
                    }
                }
            }
            
            &.active {
                position: fixed; top: 70px; z-index: 10100; box-sizing: border-box;
                width: 100%; height: 77px; background-color: #fff; border-top: 1px solid #999; box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
                transition: 0.3s;
                h1{
                    float: left;
                    img{
                        width: 136px; height: 75px;
                    }
                }
                .category{
                    float: right;
                    li{
                        float: left; text-align: center;
                        .nav_btn{
                            display: block; width: 9rem; height: 35px; border: 2px solid $maincolor; margin-left: 3rem; margin-top: 20px; font-size: 1.2rem; line-height: 35px;
                        }
                    }
                    .tour{
                        .nav_btn{
                            background-color: $maincolor; color: #fff;
                        }
                    }
                }
            }
        }
    }

    footer{
        .left_top{
            float: left; 
            li{
                color: #fff; line-height: 1.8rem;
            }
        }
        .right_top{
            float: right;
            li{
                float: left;
                a{
                    display: block;
                    width: 45px; height: 42px; margin-left: 0.3rem;
                    background-image: url(../images/pc/common/footer_sns.svg);
                    background-size: 135px 45px;
                    background-repeat: no-repeat;
                }
                &:first-child{
                    a{
                        background-image: url(../images/pc/common/footer_sns.svg);
                        background-size: 130px 45px;
                    }
                }
                &:nth-child(2){
                    a{
                        background-position: -45px 0;
                    }
                }
                &:nth-child(3){
                    margin-right: 10px;
                    a{
                        background-position: -90px 0;
                    }
                }
            }
        }
        .left_bottom{
            clear: left;
            li{
                float: left;
                margin-top: 3rem; margin-right: 2rem;
                h3{
                    margin-bottom: 0.5rem;
                }
            }
            h3, p{
                color: #fff;
            }
        }
        .right_bottom{
            float: right; width: 32rem; margin-top: 2rem;
            li{
                text-align: center; float: left;
            }
            a{
                display: block; width: 15rem; height: 2rem; line-height: 2rem; border: 1px solid #fff; box-sizing: border-box;
                color: #fff; margin: 0.5rem;
            }
        }
    }
}

/* ===================================desktop===================================== */

/* ===================================tablet===================================== */



@media screen and (max-width: 1024px){
    *{
        font-size: 16px;
    }
    .wrap{
        width: 100%; text-align: center;
    }
    header{
        overflow: hidden;
        
        .scroll{
            display: none;
        }
        .tnav{
            display: none;
        }
        .main_nav{
            position: fixed; top: 0; z-index: 1002;
            width: 100%; height: 80px; background-color: #fff;
            .pannel{
                float: left; margin: 2rem;
                width: 50px;
            }
            .pannelbg{
                position: fixed; left: -100%;
                display: flex;
                width: 100%;
                height: 100%; background-color:#fff; z-index: 10000;
                .category{
                    display: block;
                    width: 50%; height: 100%;
                    background-color: $maincolor;padding-top: 8rem; 
                    li{
                        height: 3rem;  padding: 1rem; 
                        &.active{
                            background-color: #fff; 
                            a{
                                color: $maincolor;
                            }
                        }
                        a{
                            color: #fff; font-size: 1.5rem; line-height: 3rem; 
                        } 
                    }
                }
                .tour_theme{
                    display:block;  
                    width: 50%; height: 100%; padding-top: 8rem; 
                    li{
                        width: 100%; height: 5rem; padding: 1rem; margin-top: 1px; border-bottom: 1px solid #555; box-sizing: border-box;
                        &:last-child{ border: none;}
                        a{color: #444; font-size: 1.5rem; line-height: 1rem ;}
                        img{display: none;}
                    }
                    .closeBtn{
                        position: absolute; top: 1rem; right: 1rem;
                    }
                }
                &.active{
                    left: 0; transition: 0.3s;
                }
            }
            h1{
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                img{
                    width: 131px;
                }
            }
            .guest{
                float: right; margin: 1.5rem; 
                ul{
                    
                    li{
                        float: left; margin-left: 2rem; 
                        img{
                            width: 30px;
                        }
                    }
                }
            }
        }
        .category{
            display: none;
        }
        .tour_theme{
            display: none;
        }


    }
    
    footer{
        .left_top{
            float: left; text-align: left;
            li{
                color: #fff; line-height: 1.8rem;
            }
        }
        .right_top{
            float: right;
            li{
                float: left;
                a{
                    display: block;
                    width: 45px; height: 42px; margin-left: 0.3rem;
                    background-image: url(../images/pc/common/footer_sns.svg);
                    background-size: 135px 45px;
                    background-repeat: no-repeat;
                }
                &:first-child{
                    a{
                        background-image: url(../images/pc/common/footer_sns.svg);
                        background-size: 130px 45px;
                    }
                }
                &:nth-child(2){
                    a{
                        background-position: -45px 0;
                    }
                }
                &:nth-child(3){
                    margin-right: 10px;
                    a{
                        background-position: -90px 0;
                    }
                }
            }
        }
        .left_bottom{
            clear: left;
            li{
                float: left; text-align: left;
                margin-top: 3rem; margin-right: 2rem;
                h3{
                    margin-bottom: 0.5rem;
                }
            }
            h3, p{
                color: #fff;
            }
        }
        .right_bottom{
            float: right; width: 19rem; margin-top: 2rem;
            li{
                text-align: center; float: left;
            }
            a{
                display: block; width: 8.5rem; height: 2rem; line-height: 2rem; border: 1px solid #fff; box-sizing: border-box;
                color: #fff; margin: 0.5rem;
            }
        }
    }
}

/* ===================================tablet===================================== */

/* ===================================mobile===================================== */



@media screen and (max-width: 767px){
    *{
        font-size: 14px;
    }
    header{
        overflow: hidden;
        .scroll{
            display: none;
        }
        .tnav{
            display: none;
        }
        .main_nav{
            position: fixed; top: 0; z-index: 1002;
            width: 100%; height: 50px; background-color: #fff;
            .pannel{
                float: left; margin: 1.4rem;
                width: 40px;
            }
            h1{
                position: absolute;
                img{
                    width: 90px;
                }
            }
            .guest{
                float: right; margin: 0.8rem; 
                ul{
                    
                    li{
                        float: left; margin-left: 1.5rem; 
                        img{
                            width: 25px;
                        }
                    }
                }
            }
        }
        .category{
            display: none;
        }
        .tour_theme{
            display: none;
        }
        
    }
    footer{
        .left_top{
            float: left; text-align: center;
            li{
                color: #fff; line-height: 1.8rem;
            }
        }
        .right_top{
            ul{
               position: relative; left: 50%; top: 1rem; transform: translate(-50%);
               width: 158px;
            }
            li{
                float: left;
                a{
                    display: block;
                    width: 45px; height: 42px; margin-left: 0.3rem;
                    background-image: url(../images/pc/common/footer_sns.svg);
                    background-size: 135px 45px;
                    background-repeat: no-repeat;
                }
                &:first-child{
                    a{
                        background-image: url(../images/pc/common/footer_sns.svg);
                        background-size: 130px 45px;
                    }
                }
                &:nth-child(2){
                    a{
                        background-position: -45px 0;
                    }
                }
                &:nth-child(3){
                    margin-right: 10px;
                    a{
                        background-position: -90px 0;
                    }
                }
            }
        }
        .left_bottom{
            display: none;
        }
        .right_bottom{
            position: relative; right: 50%; transform: translateX(50%);
            width: 25rem; margin-top: 2rem;
            li{
                text-align: center; float: left;
            }
            a{
                display: block; width: 11rem; height: 2rem; line-height: 2rem; border: 1px solid #fff; box-sizing: border-box;
                color: #fff; margin: 0.5rem;
            }
        }
    }
}

/* ===================================mobile===================================== */

/* ===================================iphone5===================================== */



@media screen and (max-width: 767){
    *{
        font-size: 12px;
    }

}

/* ===================================iphone5===================================== */