@charset "UTF-8";
$maincolor:#00309a;
$subcolor: #ffcd00;

/* ===================================all divice===================================== */

.popup{
    position: fixed; top: 9rem; left: 50%; transform: translateX(-50%);
    width:25rem; height: 30rem; background-color: #fff; z-index: 100000; border: 1px solid #999;
    .line{
        h3{
            color: $maincolor; font-size: 2rem; text-align: center; margin-top: 2rem;
        }
        width: 92%; height: 92%; margin: 4%; border: 5px solid $maincolor; box-sizing: border-box;
        p{
            margin-top: 1rem; text-align: center; line-height: 2rem;
        }
        background-image: url(../images/pc/common/common_header_europeimg.svg);
        background-repeat: no-repeat;
        background-position: right bottom;
        div{
            margin-top: 2rem;
            a{ display: block; float: left;  height: 2.5rem; line-height: 2.5rem; text-align: center; box-sizing: border-box; border-radius: 5px; margin-left: 1.5rem;}
        }
        .nomore{
            width: 13rem; border: 2px solid $maincolor; color: $maincolor; background-color: #fff;
        }
        .close{
            width: 5rem; background-color: $maincolor; color: #fff;
        }
    }
}

main{           
    position: relative;   
    margin-top: 175px;        
    .big{ font-size: 2rem; font-weight: 600;}
    .searchbox{
        position: absolute; top: 450px; left: 50%; transform: translateX(-50%); z-index: 500;
        width: 900px; height: 60px; border-radius: 10px; background-color: rgba(255, 255, 255, 0.658); text-align: center; padding: 5px 0px 0px 20px; font-weight: 600;
        label{ float: left; margin-top: 2px;}
        input[type=text]{
            width: 100%; height: 32px; background-color: transparent; border: none; outline: none; 
            
        }
        button{
            width: 15%; height: 80%; margin-top: 4px; border: none; background-color: $maincolor; color: #fff; cursor: pointer; border-radius: 5px;
        }
        .citybox{
            float: left; width: 40%; height: 60px;
            .city{
                float: left; width: 100%;
            }
        }
        .arrive, .departure{
             width: 20%; float: left;
        }
    }
    .main01,.main02,.main03{
        position: relative;  top:0;
        height: 600px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        .maintext01{
            position: absolute; top: 170px ; left: 60%; background-color: #3A3A51; font-size: 1rem;
        }
        .maintext02{
            position: absolute; top: 210px ; left: 60%; font-size: 2rem;
        }
        .maintext03{
            position: absolute; top: 260px ; left: 60%; font-size: 2rem;
        }
        
    }
    .main01{
        background-image: url(../images/pc/main/main_slide01.png);
        
    }
    .main02{
        background-image: url(../images/pc/main/main_slide02.png);
        
    }
    .main03{
        background-image: url(../images/pc/main/main_slide03.png);
       
    }
    .ui-widget-content {
        border: 1px solid rgb(221, 221, 221);
        background: rgba(255, 255, 255, 0.815);
        color: rgb(51, 51, 51);
        
    }
    .swiper-button-next:focus{
        outline: none;
    }
    .swiper-button-prev:focus{
        outline: none;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        top: 100px;
        left: 70%;
        width: 50px;
        height: 50px;
        border-radius: 100%; border: 2px solid #fff;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        top: 100px;
        left: 60%;
        right: auto;
        width: 50px;
        height: 50px;
        border-radius: 100%; border: 2px solid #fff;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-family: swiper-icons;
        font-size: var(--swiper-navigation-size);
        text-transform: none!important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
        font-size: 30px;
        
    }
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background: transparent;
    font-weight: normal;
    color: #454545;
}
.ui-datepicker th {
    width: 30px;;
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
    
    
}
th.ui-datepicker-week-end:first-child span {
    color: red;
}
th.ui-datepicker-week-end:last-child span {
    color: blue;
}
a.ui-state-default:hover {
    font-weight: 600;
}

.ui-datepicker .ui-datepicker-next {
    background-image: url(../images/pc/main/btn_next.svg); background-size: 100%;
    width: 15px; height: 15px;
    top:9px;
}
.ui-datepicker .ui-datepicker-prev {
    background-image: url(../images/pc/main/btn_prev.svg); background-size: 100%;
    width: 15px; height: 15px;
    top:9px;
}



    .clock{
        :root {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
          }
        h2{
            font-size: 2rem; text-align: center; margin: 6rem auto 3rem;
        }
        .world{
            display: flex;
            width: 100%; height: 380px; 
            & > div{
                flex: 1; 
                margin: 10px;
                text-align: center;
                h3{
                    font-size: 1.5rem;
                }
            }
            #kor, #uk, #others{
                #kTime, #uTime, #oTime{
                    font-size: 1.4rem;
                }
                #kAnalog, #uAnalog, #oAnalog{
                    width: 10rem,;
                    height: 10rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 30px auto;
                    background-size: cover;
                    border: 5px solid #444;
                    border-radius: 50%;
                    box-shadow: 0 -10px 15px rgba(255, 255, 255, 0.05),
                        inset 0 -10px 15px rgba(255, 255, 255, 0.05),
                        0 -10px 10px rgba(0, 0, 0, 0.3), inset 0 -10px 10px rgba(0, 0, 0, 0.3);

                        &::before{
                            content: " ";
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            background: rgb(59, 59, 59);
                            box-shadow:  1px 1px 3px rgba(36, 36, 36, 0.8);
                            border-radius: 50%;
                            z-index: 100;
                        }

                        .hour,
                        .min,
                        .sec{
                            position:absolute;
                        }

                        .hour,
                        .hr {
                        width: 120px;
                        height: 120px;
                        }
                        .min,
                        .mn {
                        width: 130px;
                        height: 130px;
                        }
                        .sec,
                        .sc {
                        width: 180px;
                        height: 180px;
                        }
                        .hr,
                        .mn,
                        .sc {
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        border-radius: 50%;
                        }

                        .hr:before {
                        content: "";
                        position: absolute; top: 20px;
                        width: 5px;
                        height: 35px;
                        background: $maincolor;
                        z-index: 10;
                        border-radius: 6px 6px 0 0;
                        box-shadow:  1px 1px 4px rgba(36, 36, 36, 0.8);
                        }

                        .mn:before {
                        content: "";
                        position: absolute;
                        width: 4px;
                        height: 65px;
                        background: #333;
                        z-index: 11;
                        border-radius: 6px 6px 0 0;
                        box-shadow:  1px 1px 3px rgba(36, 36, 36, 0.8);
                        }
                        .sc:before {
                        content: "";
                        position: absolute; top: 25px;
                        width: 2px;
                        height: 85px;
                        background: #777;
                        z-index: 12;
                        border-radius: 6px 6px 0 0;
                        box-shadow:  1px 1px 2px rgba(36, 36, 36, 0.8);
                        }
                }

            }
        }
        
    }



.boardSlide{
    margin-top: 6rem;
    width: 100%; height: 5.5rem; border-top: 1px solid #888; border-bottom: 1px solid #888; box-sizing: border-box;
}
.newsletter_box{
    margin-top: 8rem;
    width: 100%; height: 70px; background-color: $maincolor;
    h2{
        color: #fff;
    }
    p{
        color: #fff;
    }
}
.emergency{
    margin-bottom: 6rem; overflow: hidden;
}
aside{
    position: fixed; top: 20rem; right: 7px; z-index: 10000;
    a, .card p{
        font-size: 0.8rem; text-align: center;
    }
    ul{
        border: 1px solid #888; border-bottom: none; width: 65px;
        a{
            display: block; width: 65px; height: 63px; background-color: #fff; border-bottom: 1px solid #888; color: #555;
            background-size: 48px 48px; background-repeat: no-repeat; background-position: 7px 0; font-weight: 400; padding-top: 45px;
            box-sizing: border-box
        }
        li:first-child{
            a{                
                background-image: url(../images/pc/main/main_reservation_icon.png);
                &:hover{
                    background-color: $maincolor;
                    color: #fff;
                    transition: 0.2s;
                    background-image: url(../images/pc/main/main_reservation_icon_active.png);
                }
            }
        }
        li:nth-child(2){
            a{                
                background-image: url(../images/pc/main/main_materials_icon.png);
                &:hover{
                    background-color: $maincolor;
                    color: #fff;
                    transition: 0.2s;
                    background-image: url(../images/pc/main/main_materials_icon_active.png);
                }
            }
        }
        li:last-child{
            a{                
                background-image: url(../images/pc/main/main_service_icon.png);
                &:hover{
                    background-color: $maincolor;
                    color: #fff;
                    transition: 0.2s;
                    background-image: url(../images/pc/main/main_service_icon_active.png);
                }
            }
        }
    }
    .card{
        position: fixed; right: 0;
        width: 80px; height: 70px; text-align: center;
        .card_img{
            margin-top: 0.5rem;
            width: 60px; 
        }
        .guide{
            opacity: 0;
            position: fixed; top: 900px; right: 5rem;
            &.active{
                opacity: 1;
                top: 200px; right: 5rem; transition: 0.3s;
            }
        }
    }
    
}


/* ===================================all divice===================================== */

/* ===================================desktop===================================== */


@media screen and (min-width: 1025px){
    
    
    .swiper-button-next:after, main .swiper-button-prev:after {
        color: #fff;
        font-family: swiper-icons;
        font-size: 30px;
        text-transform: none !important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
    }


    
    .event{
        margin-top: 20px;
    }
    .steady, .event{
        position: relative; margin-top: 8rem; margin-bottom: 10rem;
        width: 100%; height: 100%; padding: 25px 0 0 25px; overflow: hidden; box-sizing: border-box;
        .steadyListTitle, .eventListTitle{
            
            position: relative;
            background-color: #fff; height: 520px; padding: 1rem; box-sizing: border-box;
                h2{
                    font-size: 2rem; font-weight: 600; margin-bottom: 2rem; 
                }
                p{
                    font-size: 1.2rem; line-height: 2rem; display: inline-block;
                    
                }

                .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
                    position: absolute;
                    top: 400px;
                    opacity: .35;
                    cursor: auto;
                    pointer-events: none;
                    color: #444;
                    border: 2px solid #444;
                    border-radius: 100%;
                    width: 50px;
                    height: 50px;
                }
                .swiper-button-prev.swiper-button-disabled{
                    left: 1rem;
                }
                .swiper-button-next.swiper-button-disabled{
                    left: 50%; 
                }
                .swiper-button-next.swiper-button-disabled,
                .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
                .swiper-button-prev.swiper-button-disabled {
                    position: absolute;
                    top: 400px;
                    color: #444;
                    border: 2px solid #444;
                    border-radius: 100%;
                    width: 50px;
                    height: 50px;
                    &::after{
                    font-size: 30px;
                    }
                }
                .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
                    top: 400px;
                    color: #444;
                    border: 2px solid #444;
                    border-radius: 100%;
                    width: 50px;
                    height: 50px;
                    &::after{
                    font-size: 30px; color: #333;
                    }
                }
                .swiper-button-prev{
                    left: 1rem;
                }
                .swiper-button-next{
                    left: 50%;
                }
                .swiper-button-next:focus{
                    outline: none;
                }
                .swiper-button-prev:focus{
                    outline: none;
                }
            }
            
        

        
        
        .pro{
            height: 100%; 
            background-color:#fff; border: 1px solid #555; border-top: 5px solid $maincolor; box-sizing: border-box; padding-bottom: 10px;
            .txtBox{
                width: 100%; padding: 1rem; box-sizing: border-box;
                
            .ex{
                 height: 4rem;  overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
            }
            img{
                width: 100%;
            }
            h3{
                font-size: 1.3rem;
            }
            ul{
                float: right;
                li{
                    float: left;
                    &.price{
                        margin-right: 1rem; line-height: 2rem;
                    }
                    a{
                        display: block; width: 4rem; height: 2rem; background-color: $maincolor; text-align: center; color: #fff; line-height: 2rem;
                        &:hover{
                            background-color: #fff; transition: 0.1s; color: $maincolor; border: 1px solid $maincolor; box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }

    .recommand{
        position: relative; width:100%; text-align: center; 
        h2{
            font-size: 2rem; text-align: center; margin-top: 50px; margin-bottom: 30px;
        }
        .west{
            position: absolute; left: 50%;
            width:25%; background-color: red; overflow: hidden;
            img{
                width:100%; clip: rect(0 299px 29px 193px);
            }
        }
        .east{
            position: absolute; right: 50%;
            width:25%; background-color: blue; overflow: hidden;
            img{
                width: initial;
            }
        }
        h3{
            display: none;
        }
        p{
            display: none;
        }
        ul{
            display: none;
        }
    }

    .boardSlide{
        display: flex;
        width: 100%; height: 70px; overflow: hidden;
        div{
            flex: 1; 
            &:first-child{
                border-right: 1px solid #333;
            }
            h3{ float: left; width: 20%; line-height: 70px; text-align: center;}
        .list_wrap{
             float: left; width: 75%; line-height: 70px; height: 70px;
             li a{
                float: left; display: block; width: 65%; height: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
              }
            .date{
                 float: left; width: 30%; margin-left: 10px;
            }
        }
        .btn_wrap {
            margin-top: 0.8rem;
            a{
                color: $maincolor; font-size: 1rem; line-height: 1rem; 
                }
            }
        }
        
    }
    

    .video{
            margin-top: 10rem; margin-left: 3%; overflow: hidden;
        hr{
            width: 95%; margin-top: 2rem;
        }
        h3{
           float: left; font-size: 1.5rem; margin-top: 1rem;    
        }
        .vIframe{
            .vContent{
                display: none;
            }
            .vContent.active{
                display: block;
            }
            a{
                float: right; margin-right: 10%; margin-top: 1.5rem;
            }
        }
        .vList{
            width: 40%; height: 580px; overflow-y: auto;
            &::-webkit-scrollbar{
                width: 10px; 
            }
            &::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 10px;
              }
              &::-webkit-scrollbar-track {
                background-color: #eee;
                border-radius: 10px;
                box-shadow: inset 0px 0px 5px white;
              }
            
            .vBtn{
                display: block;
                img{
                    float: left;
                    width: 200px; height: 120px; margin-right: 1rem;
                }
                .text{
                    width: 450px; height: 140px; line-height: 2rem;
                    p{
                        color: #333;;
                    }
                    .date{
                        color: #888;
                    }
                }
            }
        }
    }
    .newsletter_box{
        .newsletter{
            padding-left: 3%;
            padding-top: 5px;
            box-sizing: border-box;
            h2{
                font-size: 1.2rem; line-height: 2rem;
            }
        }
        .input{
            padding-left: 3%;
            box-sizing: border-box; 
            input[type=text]{
                width: 60%; margin-top: 1.3rem; height: 2.2rem; background-color: transparent; border: none; outline: none; color: #fff; border-bottom: 1px solid #fff;
                &::placeholder{
                    color: #fff;
                }
            }
            button{
                cursor: pointer;
                width: 110px; height: 2.2rem; background-color: #fff;  border: none;
                color: $maincolor; font-weight: 600;
            }
        }
    }
    
    .map{
        position: relative;
        margin-top: 10rem;
        width: 100%; height: 430px; background-color: $subcolor; 
        
        .address{
            position: absolute; top: 3rem; right: 3rem;
            width: 450px; height: 230px; padding:1rem; box-sizing: border-box; background-color: rgba(255, 255, 255, 0.685);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); z-index: 5000;
            h3{
                font-size: 1.5rem; margin-bottom: 0.5rem;
            }
            hr{
                color: #666;
            }
            h4{
                margin-top: 0.8rem; font-weight: 800;
            }
        }
    }

    .emergency{
        padding: 2rem;
        h3{
            font-size: 1.5rem; text-align: center; margin-top: 5rem; margin-bottom: 2rem;
        }
        li{
            padding: 1rem; box-sizing: border-box;
        }
        img{
            float: left; width: 100px; height: 67px;
        }
        .text{
            display: table-cell; height: 77px;
            float: left; margin-left: 2rem; vertical-align: middle;
        }
        .none{
            display: none;
        }
    }
    
}
/* ===================================desktop===================================== */

/* ===================================tablet===================================== */



@media screen and (max-width: 1024px){
    main{ 
        margin-top: 80px;        
        .searchbox{
            width: 750px; height: 50px; 
            label{ margin-top: 0;}
            input[type=text]{
                height: 23px;
            }
        }
    }

    

    .clock{
        h2{
            font-size: 1.5rem; text-align: center; margin: 35px auto;
        }
        .world{
            height: 350px; 
            & > div{
                h3{ font-size: 1.2rem; }
            }
            #kor, #uk, #others{
                #kTime, #uTime, #oTime{
                    font-size: 1.2rem;
                }
                #kAnalog, #uAnalog, #oAnalog{
                    width: 8rem,;
                    height: 8rem;

                        &::before{
                            content: " ";
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            background: rgb(59, 59, 59);
                            box-shadow:  1px 1px 3px rgba(36, 36, 36, 0.8);
                        }

                        .hour,
                        .hr {
                        width: 110;
                        height: 110px;
                        }
                        .min,
                        .mn {
                        width: 100px;
                        height: 100px;
                        }
                        .sec,
                        .sc {
                        width: 150px;
                        height: 150px;
                        }
                        .hr,
                        .mn,
                        .sc {
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        border-radius: 50%;
                        }

                        .hr:before {
                        content: "";
                        position: absolute;
                        width: 4px;
                        height: 35px;
                        background: $maincolor;
                        z-index: 10;
                        border-radius: 6px 6px 6px 6px;
                        box-shadow:  1px 1px 4px rgba(36, 36, 36, 0.8);
                        }

                        .mn:before {
                        content: "";
                        position: absolute;
                        width: 3px;
                        height: 50px;
                        background: #333;
                        z-index: 11;
                        border-radius: 6px 6px 0 0;
                        box-shadow:  1px 1px 3px rgba(36, 36, 36, 0.8);
                        }
                        .sc:before {
                        content: "";
                        position: absolute; top: 25px;
                        width: 1px;
                        height: 70px;
                        background: #777;
                        z-index: 12;
                        border-radius: 6px 6px 0 0;
                        box-shadow:  1px 1px 2px rgba(36, 36, 36, 0.8);
                        }
                }

            }
        }
        
    }

    .steady, .event{
        position: relative;
        width: 100%;  height: 550px; padding: 25px 0 0 25px; margin-top: 3rem; margin-bottom: 3rem; overflow: hidden; box-sizing: border-box;
        .steadyListTitle, .eventListTitle{
            
            position: relative;
            background-color: #fff; height: 460px; padding: 1rem; box-sizing: border-box; padding-left: 2rem;
                h2{
                    font-size: 1.5rem; font-weight: 600; margin-bottom: 2rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1; height: 1.7rem;
                }
                p{
                    font-size: 1rem; line-height: 1.7rem;
                }
            }
        .steadyListTitle, .eventListTitle{
            .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
                position: absolute;
                top: 400px;
                opacity: .35;
                cursor: auto;
                pointer-events: none;
                color: #444;
                border: 2px solid #444;
                border-radius: 100%;
                width: 50px;
                height: 50px;
            }
            .swiper-button-prev.swiper-button-disabled{
                left: 10%;
            }
            .swiper-button-next.swiper-button-disabled{
                left: 50%;
            }
            .swiper-button-next.swiper-button-disabled,
            .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
            .swiper-button-prev.swiper-button-disabled {
                position: absolute;
                top: 400px;
                color: #444;
                border: 2px solid #444;
                border-radius: 100%;
                width: 50px;
                height: 50px;
                &::after{
                font-size: 30px;
                }
            }
            .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
                top: 400px;
                color: #444;
                border: 2px solid #444;
                border-radius: 100%;
                width: 50px;
                height: 50px;
                &::after{
                font-size: 30px;
                }
            }
            .swiper-button-prev{
                left: 10%;
            }
            .swiper-button-next{
                left: 50%;
            }
            .swiper-button-next:focus{
                outline: none;
            }
            .swiper-button-prev:focus{
                outline: none;
            }

        }
        
        .pro{
            
            height: 100%; 
            background-color:#fff; border: 1px solid #555; border-top: 5px solid $maincolor; box-sizing: border-box; padding-bottom: 10px;
            .txtBox{
                width: 100%; padding: 1rem; box-sizing: border-box;
                
                .ex{
                    overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
            }
            img{
                width: 100%;
            }
            h3{
                font-size: 1.2rem;
            }
            ul{
                float: right;
                li{
                    float: left;
                    &.price{
                        margin-right: 1rem; line-height: 2rem;
                    }
                    a{
                        display: block; width: 4rem; height: 2rem; background-color: $maincolor; text-align: center; color: #fff; line-height: 2rem;
                        
                        &:hover{
                            background-color: #fff; transition: 0.1s; color: $maincolor; border: 1px solid $maincolor; box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
    .boardSlide{
        width: 100%; height: 140px; overflow: hidden;
        .notice{
            width:100%; height: 70px; border-bottom: 1px solid #444; 
        }
        div{           
            h3{ float: left; width: 30%; line-height: 70px; text-align: center;}
        
        .list_wrap{
             float: left; width: 70%; line-height: 70px; height: 70px; overflow: hidden;
             li a{
                float: left; display: block; width: 65%; height: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
              }
            .date{
                 float: left; width: 30%; margin-left: 10px;
            }
        }
        .btn_wrap {
            display: none;
            }
        }
        
    }
    .video{
        margin-top: 10rem; margin-left: 3%; overflow: hidden;
        hr{
            width: 95%; margin-top: 2rem;
        }
        h3{
           float: left; font-size: 1.5rem; margin-top: 1rem;    
        }
        .vIframe{
            .vContent{
                display: none;
            }
            .vContent.active{
                display: block;
            }
            a{
                float: right; margin-right: 10%; margin-top: 1.5rem;
            }
        }
        .vList{
             height: 580px; overflow-y: auto;
            &::-webkit-scrollbar{
                width: 10px; 
            }
            &::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 10px;
              }
              &::-webkit-scrollbar-track {
                background-color: #eee;
                border-radius: 10px;
                box-shadow: inset 0px 0px 5px white;
              }
            img{
                float: left;
                width: 100px; height: 60px; margin-right: 1rem;
            }
            .text{
                width: 350px; height: 80px; line-height: 2rem;
                p{
                    color: #333;
                }
                .date{
                    color: #888;
                }
            }
        }
    }
    .newsletter_box{
        padding: 0.8rem; box-sizing: border-box; 
        p{
            font-size: 0.8rem; line-height: 1.5rem;
        }
    }
    .input{
        padding-left: 3%;
        box-sizing: border-box; 
        input[type=text]{
            width: 60%; font-size: 0.8rem; margin-top: 0.5rem; height: 2.2rem; background-color: transparent; border: none; outline: none; color: #fff; border-bottom: 1px solid #fff;
            &::placeholder{
                color: #fff;
            }
        }
        button{
            cursor: pointer;
            width: 110px; height: 2.2rem; background-color: #fff;  border: none;
            color: $maincolor; font-weight: 600;
        }
    }

    .map{position: relative;
        margin-top: 10rem;
        width: 100%; height: 430px; background-color: $subcolor; 
        
        .address{
            position: absolute; top: 3rem; right: 3rem;
            width: 450px; height: 230px; padding:1rem; box-sizing: border-box; background-color: rgba(255, 255, 255, 0.685);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); z-index: 1000;
            h3{
                font-size: 1.5rem; margin-bottom: 0.5rem;
            }
            hr{
                color: #666;
            }
            h4{
                margin-top: 0.8rem; font-weight: 800;
            }
        }
    }

    .emergency{
            padding: 2rem;
        li{
            padding: 1rem; box-sizing: border-box;
        }
        img{
            width: 100px; height: 65px;
            float: left;
        }
        .text{
            float: left; margin-left: 1rem;
        }
    }
    aside{
        .btn{
            &.active{
                display: none;
            }
        }
        top: 200px;
        .card{
            display: none;
        }
        
    }
}

/* ===================================tablet===================================== */

/* ===================================mobile===================================== */



@media screen and (max-width: 767px){
    main{           
        position: relative;   
        margin-top: 50px;        
        .big{ font-size: 2rem; font-weight: 600;}
        .searchbox{
            display: none;
        }
        .main01,.main02,.main03{
            position: relative;  top:0;
            height: 300px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
            .maintext01{
                position: absolute; top: 40px ; left: 53%; background-color: #3A3A51; font-size: 0.8rem; 
            }
            .maintext02{
                position: absolute; top: 60px ; left: 53%; font-size: 1.1rem;
            }
            .maintext03{
                position: absolute; top: 80px ; left: 53%; font-size: 1.1rem;
            }
            
        }
        .main01{
            background-image: url(../images/pc/main/main_slide01.png);
            
        }
        .main02{
            background-image: url(../images/pc/main/main_slide02.png);
            
        }
        .main03{
            background-image: url(../images/pc/main/main_slide03.png);
           
        }
        .swiper-button-next:focus{
            outline: none;
        }
        .swiper-button-prev:focus{
            outline: none;
        }
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
            top: 150px;
            left: 70%;
            width: 30px;
            height: 30px;
            border-radius: 100%; border: 2px solid rgba(255, 255, 255, 0.719);
        }
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
            top: 150px;
            left: 53%;
            right: auto;
            width: 30px;
            height: 30px;
            border-radius: 100%; border: 2px solid #fff;
        }
        .swiper-button-next:after, .swiper-button-prev:after {
            font-family: swiper-icons;
            font-size: var(--swiper-navigation-size);
            text-transform: none!important;
            letter-spacing: 0;
            text-transform: none;
            font-variant: initial;
            line-height: 1;
        }
    }
    main .swiper-button-next:after, main .swiper-button-prev:after {
        color: #fff;
        font-family: swiper-icons;
        font-size: 15px;
        text-transform: none !important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
        
    }

    .clock{
        :root {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
          }
        h2{
            font-size: 1.5rem; text-align: center; margin: 30px auto;
        }
        .world{
            display: flex;
            width: 100%; height: 140px; 
            & > div{
                flex: 1; 
                margin: 10px;
                text-align: center;
                h3{
                    font-size: 0.9rem;
                    margin-bottom: 10px;
                }
            }
            #kor, #uk, #others{

                #kAnalog, #uAnalog, #oAnalog{
                    display: none;
                }
                p{
                    font-size: 1rem; line-height: 1.8rem;
                }

            }
            
        }
        
    }
    .steady, .event{
        position: relative;
        width: 100%; height: 570px; padding: 5px; overflow: hidden; box-sizing: border-box;
        .steadyListTitle, .eventListTitle{
            
            position: relative;
            background-color: #fff; height: 60px; padding: 1rem; box-sizing: border-box; 
                h2{
                    font-size: 1.5rem; font-weight: 600; margin-bottom: 2rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1; height: 1.5rem; text-align: center;
                }
                p{
                    display: none;
                }
            }
        .steadyListTitle, .eventListTitle{
            .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
                position: absolute;
                top: 31px;
                opacity: .35;
                cursor: auto;
                pointer-events: none;
                color: #444;
                border: 2px solid #444;
                border-radius: 100%;
                width: 30px;
                height: 30px;
            }
            .swiper-button-prev.swiper-button-disabled{
                left: 10%;
            }
            .swiper-button-next.swiper-button-disabled{
                left: 80%;
            }
            .swiper-button-next.swiper-button-disabled,
            .swiper-button-prev, .swiper-container-rtl .swiper-button-next,
            .swiper-button-prev.swiper-button-disabled {
                position: absolute;
                top: 31px;
                color: #444;
                border: 2px solid #444;
                border-radius: 100%;
                width: 30px;
                height: 30px;
                &::after{
                font-size: 15px;
                
                }
            }
            .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
                top: 31px;
                color: #444;
                border: 2px solid #444;
                border-radius: 100%;
                width: 30px;
                height: 30px;
                &::after{
                font-size: 15px;
                }
            }
            .swiper-button-prev{
                left: 10%;
            }
            .swiper-button-next{
                left: 80%;
            }
            .swiper-button-next:focus{
                outline: none;
            }
            .swiper-button-prev:focus{
                outline: none;
            }

        }
        
        .pro{
            height: 100%; 
            background-color:#fff; border: 1px solid #555; border-top: 5px solid $maincolor; box-sizing: border-box; padding-bottom: 10px;
            .txtBox{
                width: 100%; padding: 1rem; box-sizing: border-box;
                
                .ex{
                    overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
            }
            img{
                width: 100%;
            }
            h3{
                font-size: 1.2rem;
            }
            ul{
                float: right;
                li{
                    float: left;
                    &.price{
                        margin-right: 1rem; line-height: 2rem;
                    }
                    a{
                        display: block; width: 4rem; height: 2rem; background-color: $maincolor; text-align: center; color: #fff; line-height: 2rem;
                        
                        &:hover{
                            background-color: #fff; transition: 0.1s; color: $maincolor; border: 1px solid $maincolor; box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
    
    .boardSlide{
        width: 100%; height: 100px; overflow: hidden; margin-top: 0;
        .notice{
            width:100%; height: 50px; border-bottom: 1px solid #444; 
        }
        div{           
            h3{ float: left; width: 30%; line-height: 50px; text-align: center;}
        
        .list_wrap{
             float: left; width: 70%; line-height: 50px; height: 50px; overflow: hidden;
             li a{
                float: left; display: block; width: 90%; height: 50px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
              }
            .date{
                 display: none;
            }
        }
        .btn_wrap {
            display: none;
            }
        }
    }
    .video{
        .vIframe{
            iframe{
                height: 300px;
            }
        }
        .vList{
            width: 100%; height: 120px; 
            white-space: nowrap; overflow: auto;
            img{
                margin-top: 2rem; display: block;
                width: 120px; height: 70px;
            }
            display: flex;
            .text{
                width: 100%;
                display: none;
            }
        }
    }
    .newsletter_box{
        margin-top: 5rem;
        h2{
            font-size: 1.3rem; padding: 0.8rem;
        }
        p{
            display: none;
        }
    }
    .input{
        input[type=text]{
            width: 70%; margin-top: 0.7rem;
        }
        button{
            float: right; margin-top: 0.5rem;
            border-radius: 100%; width: 2.7rem; height: 2.7rem; 
        }
    }
    .map{position: relative;
        margin-top: 5rem;
        width: 100%; height: 300px; background-color: $subcolor; 
        
        .address{
            display: none;
        }
    }
    .emergency{
        h3{
            margin: 2rem auto; text-align: center;
        }
        padding: 1rem;
        li{
            padding: 0.5rem;
            img{
                width: 50px; height: 30px;
            }
            .text{
                margin-left: 0.3rem;
            }
            p{
                 font-size: 0.8rem; 
            }
        }
        
    }
    aside{
        display: none;
    }
}


/* ===================================mobile===================================== */

/* ===================================iphone5===================================== */



@media screen and (max-width: 321px){
    .popup{
        position: fixed; top: 4rem; left: 50%; transform: translateX(-50%);
        width:23rem; height: 30rem; background-color: #fff; z-index: 100000; border: 1px solid #999;
        .line{
            h3{
                color: $maincolor; font-size: 2rem; text-align: center; margin-top: 2rem;
            }
            width: 92%; height: 92%; margin: 4%; border: 5px solid $maincolor; box-sizing: border-box;
            p{
                margin-top: 1rem; text-align: center; line-height: 2rem;
            }
            background-image: url(../images/pc/common/common_header_europeimg.svg);
            background-repeat: no-repeat;
            background-position: right bottom;
            div{
                margin-top: 2rem;
                a{ display: block; float: left;  height: 2.5rem; line-height: 2.5rem; text-align: center; box-sizing: border-box; border-radius: 5px; margin-left: 1.5rem;}
            }
            .nomore{
                width: 13rem; border: 2px solid $maincolor; color: $maincolor; background-color: #fff;
            }
            .close{
                width: 5rem; background-color: $maincolor; color: #fff;
            }
        }
    }

    .clock .world > div {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin: 0;
        text-align: center;
    }

    .steady, .event {
        height: 480px;
        padding: 0;
    }
    .newsletter_box{
        margin-top: 3rem; padding: 0;
        height: 3.5rem; padding-top: 0;
        h2{
            padding: 1rem;
            font-size: 1rem;
        }
        p{  padding: 1rem;
            display: none;
        }
    }
    .input{
        input[type=text]{
            width: 140px; height: 1.5rem; padding-top: 0; font-size: 0.8rem;
        }
        button{
            float: right; margin-top: 0.5rem;  margin-right: 1rem;
            border-radius: 100%; width: 2.3rem; height: 2.3rem; font-size: 0.8rem;
        }
    }
    footer{
        width: 100%; height: 460px;
    }
}

/* ===================================iphone5===================================== */